.thumbnail {
  width: 100%;
  border-radius:12px;
  
}

.video-duration{
  position:absolute;
  background-color: #000000;
  color:rgb(255, 255, 255);
  right:10px;
  bottom:13px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:7px;
  padding-right:7px;
  border-radius:2px;
  font-size:20px;


}

.video-title {
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 12px;
}

.video-info{
  margin-left:8px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 45px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 18px;
  color: rgb(96, 96, 96);
  line-height:24px;
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 50px;
}

.video-preview{
  cursor:pointer;
}

@media (min-width:500px) and (max-width:600px){
  .video-grid{
    grid-template-columns: 1fr;
  }
}

@media(min-width:601px) and (max-width:1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}