.Header{
  display:flex;
  flex-direction: row;
  flex:1;
  
  justify-content: space-between;
  align-items: center;
  background-color: rgb(25, 33, 42);
  color:white;
  height:63px;
  margin-top:-108px;
  margin-left:-10px;
  margin-right:-30px;
  
}

.left-section{
  min-width:300px;
  max-width:310px;
  display:flex;
  flex-direction: row;
  align-items: center;
  
}

.logo-div{
  width:115px;
}

.amozon-logo{
  width:80%;
  object-fit:cover;
  margin-right:9px;
  margin-top:2px;
  margin-left:13px;
  cursor: pointer;
  border:1px solid transparent;
  padding:10px 5px 10px 5px;
}

.amozon-logo:hover{
  border:1px solid white;

  
}

.delivery-box{
  font-family: Roboto;
  font-weight:bold;
  margin:0px 10px 0px 15px;
  cursor: pointer;
  
  
  
}

.delivery-box:hover{
  border-style:solid;
  border-width:1px;
  border-color: white;
  padding:10px 0px 10px 0px;
}


.deliver-title{
  display: block;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:40px;
  align-items: center;
  line-height:1px;
  color:rgb(206, 204, 204);
  font-size:13px;
}



.delivery-logo{
  width:10%;
  display: inline-block;
  margin-left:11px;
  margin-right:3px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding:3px 2px 3px 2px;
  
}

.Delivery-title{
  margin-top:0px;
  margin-bottom:0px;
  display: inline-block;
  font-family: arial;
  font-weight:bold;
  
}

.middle-section{
  display:flex;
  flex:1;
  max-width:740px;
  align-items:center;
  justify-content: center;
  
}

.search-box{
  flex:1;
  height:37px;
  font-size:15px;
  padding-left:15px;
  font-family:roboto;
  border-radius:3px;
  border:none;
  
}

.search-btn{
  margin-left:-2px;
  border-radius:0px 4px 4px 0px;
  background-color: rgb(247, 183, 93);
  border:none;
  width:39px;
  height:39px;

}

.search-icon{
  width:28px;
  height:25px;
  object-fit:cover;
  
}

.right-section{
  display:flex;
  flex:1;
  flex-direction: row;
  margin-right:40px;
  margin-left:20px;
  min-width:383px;
  max-width:400px;
 

}

.country-box{
  display:flex;
  flex-direction: row;
  width:50px;
  align-items: center;
  margin-right:20px;
  cursor: pointer;
  padding:8px 5px 8px 5px;
  border:1px solid transparent;
  
  
}

.country-box:hover{
  border:1px solid white;
  
}

.country{
  width:21px;
  height:15px;
  object-fit: cover;
}

.language{
  font-weight:bold;
  font-family: arial;
  font-size:13px;
  margin-left:5px;
}

.sign-in-options{
  background-color: rgb(25,32,42);
  color:white;
  font-weight:bold;
  
  height:40px;
  width:120px;
  cursor: pointer;
  border:1px solid transparent;
  padding:6px 5px 3px 5px;
}

.sign-in-options:hover{
  border:1px solid white;
  
}

.sign-in{
  margin:0px 0px 0px 0px;
  display:inline-block;
}

.Orders-Return-btn{
  width:100px;
  height:35px;
  background-color:rgb(25,32,42);
  border:none;
  color:white;
  cursor: pointer;
  padding:8px 3px 8px 3px;
  border:1px solid transparent;
  
}

.Orders-Return-btn:hover{
  border:1px solid white;
}

.Returns,
.Orders{
  display:block;
  
  font-family: roboto;
  margin-left:10px;
}

.Returns{
  margin-right:10px;
}

.Orders{
  font-family: roboto;
  font-weight:bold;
  font-size:15px;
}

.cart-div{
  cursor: pointer;
  margin-top:7px;
}



.cart-btn{
  background-color: rgb(25, 33, 42);
  position:relative;
  height:6px;
  border:none;
  
}



.cart-logo{
  width:45px;
  object-fit: cover;
  background-color: rgb(25, 33, 42);
  object-fit:cover;
  border:1px solid transparent;
  padding:7px 10px 7px 2px;
}

.cart-logo:hover{
  border:1px solid white;
}

.cart-name{
  position:absolute;
  color:white;
  left:55px;
  right:0px;
  top:18px;
  font-family: roboto;
  font-weight:bold;
  font-size:18px;
}

.items{
  position:absolute;
  color:white;
  top:1px;
  left:15px;
  right:15px;
  font-weight:bold;
  color:orange;
  font-size:20px;
}

