.nav-main{
  background-color: rgb(35, 48, 66);
  height:43px;
  margin-top:-5px;
  display:flex;
  flex-direction:row;
  flex:1;
  margin-left:-9px;
  margin-right:-30px;
  
}

.left-section-bar{
  display:flex;
  margin-right:1px;
  margin-left:20px;
  align-items: center;
  color:white;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  cursor: pointer;
  padding:0px 6px 0px 6px;
  border:1px solid transparent;
}

.left-section-bar:hover{
  border:1px solid white;
  
}

.identical-all{
  font-size:25px;
  margin-right:5px;
  
}


.middle-section-bar{
  display:flex;
  flex:1;
  flex-direction:row;
  margin-left:0px;
  align-items: center;
}

.nav-links{
  color:rgb(255, 253, 253);
  font-size:13px;
  font-family:arial;
  padding:10px 5px 10px 5px;
  white-space:nowrap;
  border:1px solid transparent;
  cursor:pointer;
}

.nav-links:hover{
  border:1px solid white;
}



.items{
  display:inline-block;
}

.right-section-bar{
  display:flex;
}

