.bg-image{
  position:relative;
}

.outer-grid{
  
  position:absolute;
  left:10px;
  right:10px;
  top:350px;
  bottom:0px;
  height:410px;

  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  column-gap:20px;
}

.grid{
  min-width:330px;
  background-color: rgb(255, 255, 255);
  height:450px;
}

.grid-title{
  font-family: roboto;
  font-size:20px;
  font-weight:bold;
  margin: 15px 0px 10px 15px;
}

.item{
  width:140px;
  margin:10px 0px 15px 10px;
  display:inline-block;
  cursor:pointer;
  
}

.image{
  width:105%;
  object-fit: cover;
  height:160px;
  margin-left:5px;
}

.image2{
  width:100%;
  height:160px;
  object-fit:cover;
  margin-left:10px;
}

.See-more-title{
  margin:20px 0px 7px 10px;
  padding-bottom:4px;
  color:#2162a1;
  font-family: roboto;
  font-size:13px;

}


.home-appliances-item{
  width:130px;
  height:150px;
  display: inline-block;
  margin:10px 10px 15px 12px;
  cursor:pointer;
  

}

.cleaning-div{
  width:130px;
  display: inline-block;
  margin:0px 0px 10px 15px;
  cursor:pointer;
}

.home-appliances-image{
  width:110%;
  object-fit: cover;
  margin-left:5px;
  object-fit: cover;
}


.item-name{
  font-size:13px;
  margin-left:5px;
  font-weight: 100%;
}

.home-more-title{
  margin:0px 0px 15px 15px;
  padding-bottom:5px;
  color:#2162a1;
  font-family: roboto;
  font-size:13px;
}

.home-cleaning-images{
  width: 110%;
  
}

.item-towel{
  font-family: roboto;
  font-size:13px;
  margin-left: 5px;
}

.cleaning-item{
  font-family: roboto;
  font-size:13px;
}

.last-grid{
  width:325px;
  
  
}


.sign-in-div{
  display:flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  height:130px;
  

  
}

.sign-in-title{
  color:black;
  display:block;
  font-size:20px;
  font-weight:bold;
  font-family:roboto;
  margin:10px 0px 10px 10px;
  
}

.sign-btn{
  margin-top:10px;
  margin-left:30px;
  display:block;
  height:30px;
  width:270px;
  background-color:rgb(255, 208, 68);
  border:none;
  border-radius:20px;
  cursor:pointer;
}

.sign-btn:hover{
  background-color: rgb(255, 198, 27);
}

.second-div{ 
  min-width:310px;
  height:260px;
  cursor:pointer;
  margin-top:10px;
}


.smart-watch-image{
  width:100%;
  object-fit: cover;
  height:202px;
}

.watch-details{
  background-color: rgb(255, 253, 253);
  margin-top:-5px;
  padding-top:5px;
  height:104px;
  line-height:20px;
}

.watch-name{
  color:black;
  margin-top:10px;
  font-family: roboto;
  
}

.offer{
  color:black;
  border:none;
  background-color: red;
  width:120px;
  margin-left:10px;
  
  font-size:15px;
  color:white;
  padding:4px 2px 4px 4px;
}

.price{
  color:black;
  padding-bottom:-10px;
  font-weight:bold;
}

.second-flex{
  margin-top:150px;
  background-color: black;
  height:430px;
  position:relative;
}


.outer-grid-2{
  
  position:absolute;
  left:0px;
  right:15px;
  top:480px;
  bottom:0px;
  height:410px;

  
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  column-gap:20px;

}

.grid{
  min-width:340px;
  background-color: rgb(255, 255, 255);
  height:450px;
}

.first-grid-title{
  font-family: roboto;
  font-size:20px;
  font-weight:bold;
  margin: 15px 0px 10px 15px;
}

.item{
  width:140px;
  margin:10px 0px 15px 10px;
  display:inline-block;
  
}

.image{
  width:105%;
  object-fit: cover;
  height:160px;
  margin-left:5px;
}



.men-more-title{
  margin:25px 0px 0px 15px;
  padding-bottom:4px;
  color:#2162a1;
  font-family: roboto;
  font-size:13px;

}




.item{
  width:130px;
  height:145px;
  display: inline-block;
  margin:10px 10px 15px 12px;
  

}

.cleaning-div{
  width:130px;
  display: inline-block;
  margin:0px 0px 10px 15px;
}

.home-appliances-image{
  width:110%;
  object-fit: cover;
  margin-left:5px;
  object-fit: cover;
}


.item-name{
  font-size:13px;
  margin-left:5px;
  font-weight: 100%;
}

.home-more-title{
  margin:4px 0px 10px 10px;
  padding-bottom:7px;
  color:#2162a1;
  font-family: roboto;
  font-size:13px;
}

.home-cleaning-images{
  width: 110%;
  
}

.item-towel{
  font-family: roboto;
  font-size:13px;
  margin-left: 5px;
}

.cleaning-item{
  font-family: roboto;
  font-size:13px;
}

.first-grid-div{
  width:150px;
  cursor: pointer;
  
  display:inline-block;
  margin:20px 0px 10px 11px;
}

.first-grid-image{
  width:100%;
  height:120px;
  object-fit: cover;
}

.Figurines-image{
  width:100%;
  height:120px;
  padding-bottom:13px;
}

.item-statue{
  font-family: roboto;
  font-size:13px;
}


.home-appliances-more-title{
  margin:15px 7px 15px 15px;
  padding-bottom:4px;
  color:#2162a1;
  font-family: roboto;
  font-size:13px;
}

.bluetooth-image-div{
  width:140px;
  height:120px;
  display: inline-block;
  margin:22px 0px 40px 17px;
  cursor:pointer;
}

.bluetooth-image{
  width:100%;
  height:100%;
  object-fit: cover;
}

.bluetooth-more-title{
  margin:0px 7px 15px 15px;
  padding-bottom:4px;
  color:#2162a1;
  font-family: roboto;
  font-size:13px;
}




.Automotive-image{
  width:110%;
  object-fit: cover;
  margin-left:5px;
  object-fit: cover;
}

.Automotive-more-title{
  margin:0px 7px 15px 15px;
  padding-bottom:4px;
  color:#2162a1;
  font-family: roboto;
  font-size:13px;
}

.women-fashion-more{
  margin:0px 7px 0px 15px;
  padding-bottom:4px;
  color:#2162a1;
  font-family: roboto;
  font-size:13px;
}

.last-grid-box{
  background-color: white;
  width:326px;
}






